@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-accent: #f97316;
  --color-dark: #1f2937;

  --background-image-hero-pattern: url(/hero-pattern.webp);
}
